{
  "openapi": "3.1.0",
  "info": {
    "title": "Workout Sheets Bridge",
    "description": "Read and append workout rows in a single Google Sheets tab (Log) via Apps Script.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://script.google.com/macros/s/{{WEBAPP_DEPLOYMENT_ID}}"
    }
  ],
  "paths": {
    "/exec": {
      "get": {
        "operationId": "readSheet",
        "summary": "Read all rows from a named sheet tab.",
        "parameters": [
          {
            "name": "sheetName",
            "in": "query",
            "required": true,
            "description": "Exact tab name: 'Log'.",
            "schema": { "type": "string" }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Shared secret authentication token.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of row objects keyed by header names.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "type": "object" } }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "writeSheet",
        "summary": "Prepend a workout to the top of Log (or append/update by key).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token", "sheetName", "action"],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Shared secret authentication token."
                  },
                  "sheetName": {
                    "type": "string",
                    "description": "Exact tab name: 'Log'."
                  },
                  "action": {
                    "type": "string",
                    "enum": ["prepend", "append", "update"],
                    "description": "prepend = add a workout to the TOP of Log, newest-first, with a blank separator row (normal use); append = add to the bottom; update = optionally correct an existing row by key."
                  },
                  "rowData": {
                    "description": "prepend: one row [Date, Workout, Order, Exercise, Set 1, Set 2, Set 3] OR a batch (array of such rows) to log a whole session at once — set cells are '<weight> lb x <reps>'. append: a single ordered row. update: object of {header: value} for fields to change.",
                    "oneOf": [
                      { "type": "array", "items": {} },
                      { "type": "object" }
                    ]
                  },
                  "keyColumn": {
                    "type": "string",
                    "description": "update only: header name to match on (e.g. 'Exercise')."
                  },
                  "keyValue": {
                    "type": "string",
                    "description": "update only: value in keyColumn identifying the target row."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result of the write.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "action": { "type": "string" },
                    "row": { "type": "integer" },
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
